apiVersion: v1
kind: Service
metadata:
  name: weather-proxy
  labels:
    app: weather-proxy
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: weather-proxy
